.flex {

    display: flex;

    flex-wrap: wrap;

  }

 

  .shopping-card {

    justify-content: space-between;

    background-color: #67e384;

    padding: 20px 30px;

  }

 

  .gallery-item {

    padding: 20px;

  }